<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" />



<ul class="nav nav-pills">
  <li class="nav-item"> 
    <a class="nav-link active" href="#"> Map View
  </a></li>
<li class="nav-item"> 
<a class="nav-link active" href="#">
   List View
  </a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase = "'map'"> Map View Content </div>
  <div *ngSwitchCase = "'list'"> List View Content</div>
  <div *ngSwitchDefault> Otherwise </div>
</div>



  
